:root {
    --azulclaro: rgb(70, 190, 255);
    --azulescuro: rgb(0, 102, 255);
    --azulescuro2: rgb(0, 112, 255);
    --cinzarclaro: #cecece;
    --cinzarescuro: rgb(83, 83, 83);
    --preto: black;
    --branco: #ffffff;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    font-family: var(--font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--cinzarclaro);
}

/* Config Header*/
header {
    background: var(--azulclaro);
    position: relative; 
    padding: 20px; 
    position: relative; 
}
 
/* Fique com muita dificudade */
/* Responsividade para deixa um do lado do outro*/ 
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
}

.logo {
    font-size: 20px;
}

.menu {
    cursor: pointer;
    position: absolute; 
    bottom: 10px; 
    right: 20px; 
}

.barra {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--preto);
}

.links {
    list-style: none;
    display: none; 
    position: absolute; 
    top: 100%; 
    right: 0; 
    background-color: var(--branco); 
	border-radius: 10px;
}

.links li {
    margin-left: 0; 
}

.links a {
    display: block;
    padding: 10px 20px; 
    text-decoration: none;
    color: var(--preto);
    font-size: 22px;
}

.links a:hover {
    background-color: var(--azulescuro2); 
    color: var(--branco); 
}

@media (max-width: 799.99px) {
    .links.active {
        display: block;
    }
}

@media (max-width: 350px) {
	h1 {
		font-size: 35px;
	}
}
