<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App de Música</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Duck Music</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('playlist') }}">Playlists</a></li>
                <li><a href="#">Biblioteca</a></li>
                <li><a href="#">Configurações</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="player">
            <div class="current-song">
                <img src="{{ url_for('static', filename='capa.png') }}" alt="Capa do Artista">
                <div>
                    <h2>Nome da Música</h2>
                    <p>Nome do Artista</p>
                </div>
            </div>
            <div class="controls">
                <button id="prev">Anterior</button>
                <button id="play-pause">Play</button>
                <button id="next">Próxima</button>
            </div>
        </section>
        
        {% if tem_dados %}
        <section id="playlist">
            <ul>
                {% for dado in dados %}
                <li class="song">
                    <span>{{ dado['Nome Musica'] }}</span> - <span>{{ dado['Nome Artista'] }}</span>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% else %}
        <p class="nmusic">Não há músicas disponíveis. click <a href="{{ url_for('playlist') }}">aqui</a> para adicionar musicas</p>
        {% endif %}
    </main>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
