<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
</head>
<body>
    <div class="auth-container">
        <div class="auth-form">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <div class="input-group">
                    <label for="user">Nome De Usuario</label>
                    <input type="'text" name="username" placeholder="Digite seu usuario">
                    {% with messages = get_flashed_messages(with_categories=True) %}
                    {% for category, message in messages %}
                        {% if category == 'user' %}
                            <p class="error">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
                </div>
                <div class="input-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" placeholder="Digite sua senha">
                    {% with messages = get_flashed_messages(with_categories=True) %}
                    {% for category, message in messages %}
                        {% if category == 'password' %}
                            <p class="error">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endwith %}

                </div>
                <button type="submit">Entrar</button>
            </form>
            <p class="auth-link">Não tem uma conta? <a href="/register">Cadastre-se</a></p>
        </div>
    </div>
</body>
</html>