* {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    max-height: 100%;
    margin: 0%;
    padding: 0%;
} 

body {
    background-color: rgba(223, 223, 223, 0.642);
    
    & footer {
        background-color: rgb(196, 196, 196);
        text-align: center;
        padding: 2% 0;
    }
}


.navbar {
    padding: 1%;
    background-color: rgb(196, 196, 196);
    box-shadow: 2px 2px 2px rgba(22, 20, 20, 0.813);

    & img {
        width: 200px;
        margin-left: 7%;
        position: absolute;
    }

    & ul {
        margin-left: 47%;

        & li {
            display: inline-block;
            padding: 1%;
            font-size: 15px;

            & a {
                text-decoration: none;
                color: black;
            }

            & .en {
                padding: 2.5px;
                border-radius: 10px;
                background-color: rgba(86, 86, 86, 0.421);
            }

            & a:hover {
                padding: 2.5px;
                border-radius: 10px;
                background-color: rgba(86, 86, 86, 0.421);
            }

            & input[type="search"] {
                padding: 8px 30px 8px 10px;
                border: none;
                border-radius: 15px;
            }

            .search-container {
                position: relative;
            }

            .search-icon {
                position: absolute;
                top: 30%;
                right: 10px;
                color: blue; 
            }
        }
    }
}


main {
    text-align: center;
    background-color:  rgba(223, 223, 223, 0.642);;

    h1 {
        padding-top: 20px;
    } 

    section {
        width: 250px;
        margin: 2.5% 2.5%;
        text-align: center;
        display: inline-block;
        padding: 35px;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 3px 2px rgba(141, 141, 141, 0.705);
        border-radius: 8px;

        h1 {
            font-size: 35px;
        }

        p {
            margin: 5% 0;
            font-size: 20px;
            padding-bottom: 50%;
        }

        .botao {
            background-color: rgba(194, 194, 194, 0.61);
            border: none;
            padding: 5% 15%;
            font-size: 25px;
            margin-top: 30%;
            border-radius: 35px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.491);
        }

        .botao:hover {
            background-color: rgba(86, 86, 86, 0.421);
        }
    }

    #container {
        visibility: hidden;
    }
}