/* Variáveis Globais. */
:root {
    --azulclaro: rgb(70, 190, 255);
    --azulescuro: rgb(0, 102, 255);
    --azulescuro2:  rgb(0, 112, 255);
    --cinzarclaro: #cecece;
    --cinzarescuro: rgb(83, 83, 83);
    --branco: #ffffff;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Propriedades Globais. */
* {
    font-family: var(--font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Corpo Do Site. */
body {
    background-color: var(--cinzarclaro);
    /* Responsividade Relacionado Ao Pai. */
    display: flex;
    flex-direction: column;
    min-height: 95.5vh;
}

/* Cor do header */
header {
    background-color: var(--azulclaro);
}

/* Centralizacao da Logo */
.logo {
    width: 325px;
    display: block;
    margin: auto;
    padding: 15px 0;
}

/* Espaçamento do Card com o Main*/
.main {
    padding: 20px 0;
}

/* Propriedades Geral do h1 */
h1 {
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
}

/* Propriedades geraal do Card */
.card {
    width: 50%;
    margin: auto;
    background-color: #fff;
    padding: 30px; 
    border-radius: 20px; 
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.438);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Responsividade para deixa os input/labes embaixo do outro alinhados */
form {
    display: flex;
    flex-direction: column;
} 

/* Tamanho Label e Espacamento entre Elas */
label {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Deixa o input e textarea mais Gostoso*/
input{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 1px solid #7a7a7a;
    font-size: 18px;
}

#error-message-user, #error-message-senha {
    margin-top: -10px;
    margin-bottom: 5px;
}

.button-container {
    margin: auto;
}

/* Config Geral do Botao. */
button {
    padding: 10px 20px;
    border-radius: 35px;
    font-size: 25px;
    background-color: var(--azulescuro2);
    border: none;
    color: var(--branco);
    box-shadow: 4px 6px 8px rgba(54, 54, 54, 0.551);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Config Para Quando Mouse Passa Por Cima Do Botao. */
button:hover {
    background-color: var(--azulclaro);
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.41);
}

/* Config do Footer. */
footer {
    background-color: var(--cinzarescuro);
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    color: var(--branco);
}

/* MEDIA QUERY */
/* Telas Grandes */
@media (min-width: 1000px){
    .logo {
        width: 350px;
    }

    footer {
        font-size: 35px;
    }
}

/* Telas Normais */
@media (max-width: 999.99px){
    .logo {
        width: 280px;
    }

    .main {
        padding: -20 0;
        margin: auto 0;
    }

    .card {
        width: 92%;
    }

    footer {
        font-size: 21px;
    }
}

/* Telas Pequena */
@media (max-width: 400px) {
    .logo {
        width: 200px;
    }

    footer {
        font-size: 16px;
    }
}
